body {
  font-family: 'Open Sans', sans-serif;
  background-color:rgba(23, 105, 23, 0.301);
  font-size: 19px;
  text-align: center;
  margin: 0;
  
}
#hero{
  width: 600px;
  margin: 0 auto 60px;
}
#hero img{
  margin-bottom: 38px;
  
}
h1 {
  font-size:'Inter', sans-serif;
  font-size: 49px;
  line-height: 55px;
  font-weight: normal;
  margin-bottom: 32px;
}
h1 span{
  font-weight: bold;
}
p {
  color: rgb(111, 109, 109);
  line-height :30px;
  margin-bottom: 32px; 
}
span, a {
  color:rgb(201, 136, 16);
}
a {
  text-align: center;
}
#footer{
  margin-bottom: 8px;
}
#footer a + a {
  margin-left: 20px;
 
}
.line{
  width: 591px;
  height: 0px;
  margin: 32px auto 8px;

  border: 1px solid  rgba(111, 109, 109, 0.194);
}
.line , a{
  margin-top: 0px;
}
#balls{
  position: fixed;
  bottom: 0px;
  right: 0px;

 
}

